header {
    margin-top: 16px;
    margin-bottom: 48px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: xx-large;
}

body {
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: brown;
    text-align: center;
    background-color: yellow;
    padding: 16px 0px 16px 0px;
    margin-top: 16px;
    border-top: 10px dashed green;;
}

h1 {
    font-size: 64px;
    color: #04a5fa;
}

header a {
    color: #34eadb;
    text-decoration: none;
    margin-right: 16px;
    font-size: 48px;
    
}

a:hover {
    color: red;
}

img {
    width: 550px;
}

.main-content {
    flex-grow: 1;
}


.mad {
    color: red;
    font-weight: 900;
}

.portrait {
    width: 300px;
}