
<header>
<meta 'Access-Control-Allow-Origin: http://puzzle.mead.io/puzzle'>
<h3>This is the {{title}} by {{name}}. You need to learn pig latin to translate</h3>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>